.header {
  align-items: center;
  background-color: #000;
  display: flex;
  padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.header-title {
  color: #fff;
  font-size: 20px;
  line-height: 1;
  margin-bottom: 0;
  margin-right: auto;
  margin-top: 0;
}

.header-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-list__item {
  position: relative;
}

.header-list__item:not(:last-child) {
  margin-right: 15px;
}

.header-dropdown {
  background-color: #000;
  display: flex;
  padding: 10px;
  position: absolute;
  right: 0;
  top: calc(100% + 10px);
}

.header-btn {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
}

.header-icon {
  height: 25px;
  width: auto;
}
