.cursor-wrapper {
  /* 1/3% - height + page padding */
  bottom: calc(33.33% - 18px + 15px);
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.cursor {
  animation: blink 1.25s ease-in-out infinite;
  background-color: #ccc;
  display: block;
  height: 18px;
  opacity: .7;
  width: 10px;
}

@keyframes blink {
  0% { opacity: 0; }
  50% { opacity: .7; }
  100% { opacity: 0; }
}